name: Generate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"
  push:
    branches:
      - main
jobs:
  generate:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          
      - name: Generate config
        run: |
          [ -d public ] || mkdir -v public
          deno task build:all

      - name: Install sing-box
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -fsSL https://sing-box.app/install.sh | sh -s -- --version "1.12.0-beta.34"

      - name: Check and format
        working-directory: public
        run: |
          for config in *.json; do
            echo "Checking: $config ..."
            sing-box check -c "$config" || true
            
            echo "Formating: $config ..."
            sing-box format -c "$config" > "/tmp/$config"
            cp -v "/tmp/$config" "$config"
          done

      - name: Commit config
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Update template
          file_pattern: 'public/template*.json'
          commit_user_name: YanamiChan[bot]
          commit_user_email: 182213109+YanamiChan[bot]@users.noreply.github.com
          commit_author: YanamiChan[bot] <182213109+YanamiChan[bot]@users.noreply.github.com>
  build:
    runs-on: ubuntu-22.04
    needs: generate
    steps:
      - uses: actions/checkout@v4
        with:
          repository: sub-store-org/Sub-Store
          ref: master

      - uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          npm install -g pnpm
          cd backend && pnpm i --no-frozen-lockfile

      - name: Get file
        run: |
          cd backend
          echo "${{ secrets.FILE_CONFIG }}" | base64 --decode > sub-store.json

      - uses: JarvusInnovations/background-action@v1.0.7
        with:
          run: |
            pnpm start
          wait-on: |
            http://localhost:3000
          working-directory: backend

      - name: Generate config
        run: |
          curl -o config-android.json "http://localhost:3000/api/file/android"
          curl -o config-windows.json "http://localhost:3000/api/file/windows"

          # Only node info
          curl -o mihomo.yaml "http://localhost:3000/download/1?target=ClashMeta"
          curl -o sing-box.json "http://localhost:3000/download/1?target=sing-box"
          curl -o v2ray.txt "http://localhost:3000/download/1?target=URI"

      - name: Upload files
        uses: ncipollo/release-action@v1
        with:
          artifactErrorsFailBuild: true
          removeArtifacts: true
          allowUpdates: true
          generateReleaseNotes: false
          tag: nightly
          artifacts: '*.json, mihomo.yaml, v2ray.txt'
          prerelease: true
